
@charset "utf-8";

*, 
*:before, 
*:after, 
html, 
html:before, 
html:after { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	outline: none; 
	text-decoration: none; 
	border: none;
}

body {
	height: 100vh;
}

.home-main {
	margin-top: 50px;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}